.row
  .col-md-1
  .col-md-10.image-container.box-container
    %p.description.medium-text
      The best and the worst thing about travel is that takes you to most amazing places in the world where you can spend hours and not care about anything in the world, but also you know that you have to leave this place as much as you wish you did not have to. Also it provides you with endless memories.
    %p.description.medium-text
      As much as travelling is fun, not all of us can do it all the time. But guess what reading somebody else's travel stories are fun too.
    %p.description.medium-text 
      So the idea is to share the story of that happy place of yours with fellow enthusiasts. It could be anyplace you have travelled or came across by chance. All you need is a good quality picture and a story.
  .col-md-1
