.row
  .col-md-1
  .col-md-10.image-container.box-container
    %p.description
      Lorem ipsum dolor sit amet, sapien non vivamus. Magnis a donec, aute vel ipsum suspendisse aliquip, mauris per integer accumsan eu ligula sodales. Suspendisse lectus. Pulvinar purus a pellentesque, interdum ante et, vivamus integer ad quam sed nulla, vel quam integer, sed neque. In odio id in, est arcu id lorem, viverra at nulla euismod sollicitudin, est tempor. In tristique. Pede sit egestas justo necessitatibus nec ante, turpis ut phasellus et, enim pulvinar eget quod pede sed. Condimentum mauris pede aliquam, non in, id in dignissim amet libero nisl, rutrum leo felis, parturient id habitant mauris faucibus eleifend id.
  .col-md-1
