- @posts.each do |p|
  .row
    .col-md-1
    .col-md-10.image-container
      =image_tag p.photo.url 
      %br
      %br
      %p.title= p.title 
      %p.description
        = p.description
      %p Visited on: #{p.visited_on}
      %p Place: #{p.place + ', ' + p.country}
      %p Author: Rishi Jain 
    .col-md-1
  %br
