// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  min-height:700px;
  border-bottom: 20px solid rgba( 1, 1, 1, 0.04);
  border-top: 20px solid rgba( 1, 1, 1, 0.04);
  border-left: 20px solid rgba( 1, 1, 1, 0.04);
  border-right: 20px solid rgba( 1, 1, 1, 0.04);
}

a{
  color:black;
  font-family: 'Kalam', cursive;
}

h1 {
  font-size:60px;
  text-align:center;
  border-bottom: 20px solid rgba( 1, 1, 1, 0.04 );
  font-family: 'Kalam', cursive;
}

a{
  color:black !important;
}

.main-row{
  text-align:center;
}

.options-menu{
  padding-top:40px;
}

.small-text, .info{
  font-family: 'Josefin Slab', serif;
}

.medium-text{
  font-size:28px !important;
}

.box-container{
  border-top: 20px solid rgba( 1, 1, 1, 0.04 );
  border-right: 20px solid rgba( 1, 1, 1, 0.04 );
  border-left: 20px solid rgba( 1, 1, 1, 0.04 );
  border-bottom: 20px solid rgba( 1, 1, 1, 0.04 );
}

.box-container.listing{
  height:490px;
}

.form-container{
  text-align:left;
}

.image-container{
  text-align:center;
}

.image-container img {
  margin-top:10px;
}

.image-container div.description{
  font-size:25px;
  text-align:left;
  padding-left:70px;
  padding-right:70px;
  font-family: 'Kalam', cursive;
}

.image-container div.small_description{
  height:30%;
  overflow:hidden;
  font-size:20px;
  text-align:left;
  font-family: 'Kalam', cursive;
}

.image-container p.small_title, p.small_title a {
  font-size:30px;
  font-family: 'Kalam', cursive;
}

.image-container p.title, p.title a {
  font-size:50px;
  font-weight:500;
  font-family: 'Kalam', cursive;
}


.title {
  font-size:50px;
  font-weight:500;
  font-family: 'Kalam', cursive;
}

.title .untitle{
  font-size:15px;
}

.red {
  color:red;
}

img {
  max-width:100%;
}

.profile-pic {
  width:60px;
  padding-bottom:10px;
}

nav{
  text-align:center ;
}

.txtCentered {
  text-align:center;
}

p.txtStyle{
  font-family: 'Kalam', cursive;
  font-weight:500;
  //font-family: 'Dancing Script', cursive;
}

p.medium_title {
  font-size:50px;
}

p.small_title {
  font-size:30px;
}

p.tiny-text {
  font-size:20px;
}

img.medium-image {
  height:130px;
}

.comment-text{
  text-align:left;
  float:left;
}

.commentBox{
  margin-right:150px;
}

#add_comment_link {
  float:right;
}

.image-medium{
  height:214px;
  width:323px;
}

#tinymce {
  border:       none;
  font-size:    14px;
  font-family: 'Kalam', cursive;
  line-height:  5px;
}

.underline {
  text-decoration:underline;
}

.suggestions {
  height:350px !important;
}

.state_change_btns {
  margin-top:10px;
  padding-bottom:10px;
  border-bottom: 5px double rgba( 1, 1, 1, 0.04);
}

.btn-state_label {
  font-weight: 500;
}
