// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  min-height:800px;
  border-bottom: 20px solid rgba( 1, 1, 1, 0.04);
  border-top: 20px solid rgba( 1, 1, 1, 0.04);
  border-left: 20px solid rgba( 1, 1, 1, 0.04);
  border-right: 20px solid rgba( 1, 1, 1, 0.04);
}

h1 {
  font-size:60px;
  text-align:center;
  text-transform:uppercase;
  border-bottom: 20px solid rgba( 1, 1, 1, 0.04 );
}

.image-container{
  text-align:center;
}

img {
  max-width:100%;
}
